@model IEnumerable<BlogWeb.Models.ArticleModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Manage Articles</h1>



<p class="mb-5 ">
	<a class="btn btn-outline-dark" asp-action="Create">Create New</a>
</p>


<div class="row row-cols-3 g-2">
	<table class="table">
		<thead class="table-light">
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Title</td>
					<td><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light">Edit</a> <span class="mx-3"></span> <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
				</tr>
			}
		</tbody>
	</table>
</div>
