@{
	ViewData["Title"] = "Contact";
}

<section>
	<h1>Contact</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dictum urna, et tristique felis maximus ac. Mauris eu tortor odio. Nulla euismod quis mauris sit amet condimentum. Etiam pretium quis arcu ultrices facilisis. Aliquam tempus ornare magna. Etiam egestas, tellus nec consectetur auctor, mi risus euismod sapien, in tincidunt purus nunc at diam. Cras ante lectus, tristique vitae maximus eget, convallis vel felis. Suspendisse dictum libero nec velit convallis rhoncus. Proin eleifend nibh non laoreet bibendum.</p>
</section>
