@{
	ViewData["Title"] = "Home Page";
}

<style>
	.card_main {
		max-width: 650px;
	}

	.card_search {
		max-width: max-content;
	}

	.search_input {
		border: none;
		max-width: 500px;
	}

	.btn-search {
		width: 100px;
	}

	.search_input:focus {
		outline: none;
		border: none;
	}

	.list-people {
		list-style: none;
	}

	.list-people__img {
		width: 100px;
		height: 100px;
		object-fit: cover;
	}
</style>

<main>
	<section class="text-center py-5 my-5">
		<h1>Inside Design: Stories and interviews</h1>
		<p>Subscribe to learn about new product features, the latest in technology, and updates</p>
		<div class="card card_search p-1 m-auto">
			<div class="d-flex">
				<input class="search_input">
				<button type="button" class="btn ms-2 btn-search btn-light">Search</button>
			</div>
		</div>
	</section>

	<section>
		<h2>Recent blog posts</h2>
		<div class="row row-cols-2">
			<div class="col border-end">
				@for (int i = 0; i < 2; i++)
				{
					<article class="card_main border-0  card p-2 mb-4">
						<img src="~/img/code.jpg" class="card__img" alt="Gambar artikel" />
						<p class="text-secondary my-2">Olivia Rhye - <time datetime="2018-07-07">7 July 2018</time></p>
						<a asp-controller="Article" asp-action="Index" class="text-black text-decoration-none">
							<h2 class="">How to install tailwindcss in ASP.Net</h2>
						</a>
						<p>Provident voluptatem quis eum reprehenderit. Nisi reprehenderit maiores numquam consequatur vero. Ab natus dolorum a alias inventore facere sint. Voluptatem eum accusamus distinctio qui qui quasi.</p>
						<div class="category d-flex">
							<span class="card me-3 py-1 px-3 rounded-pill">Code</span>
							<span class="card mx-3 py-1 px-3 rounded-pill">CSS</span>
							<span class="card mx-3 py-1 px-3 rounded-pill">Technology</span>
						</div>
					</article>
				}
			</div>
			<div class="col">
				<aside class="">
					<section class="py-4 px-3">
						<div class="card p-3 text-center">
							<h4>Get unlimited access to everything on Reader</h4>
							<p>Plans starting at less than $1/week</p>
							<button type="button" class="btn btn-light">Get unlimited access</button>
						</div>
					</section>
					<section>
						<h4 class="mb-5">People you might be interested</h4>
						<ul class="list-people">
							@for (int i = 0; i < 3; i++)
							{
								<li class="my-3">
									<div class="d-flex justify-content-between flex-row-3">
										<img class="list-people__img rounded-circle border border-3" src="~/img/people.jpg" alt="people" />
										<div class="d-flex align-items-center">
											<div class="mx-3">
												<h5>Doddy Firmansyah</h5>
												<p class="text-secondary">Founder & chief designer at Team Creative SMKN 4 Malang</p>
											</div>
										</div>
										<div class="d-flex align-items-center">
											<span class="rounded-pill border px-4 py-2">Follow</span>
										</div>
									</div>
								</li>
							}
						</ul>
					</section>
				</aside>
			</div>
		</div>
	</section>
</main>


