@{
	ViewData["Title"] = "Article";
}

<article class="container">
	<h1>How to install tailwindcss in ASP.Net</h1>
	<div class="d-flex justify-content-between align-items-center flex-row-3 mb-3" style="max-width: 400px;">
		<img class="list-people__img rounded-circle border border-3" src="~/img/people.jpg" alt="people" style="width: 40px;
		height: 40px;
		object-fit: cover;" />
		<div class="d-flex align-items-center">
			<div class="mx-3">
				<h5 style="font-size: 14px; margin: 0;">Doddy Firmansyah</h5>
				<p class="text-secondary m-0" style="font-size: 12px;">Founder & chief designer at Team Creative SMKN 4 Malang</p>
			</div>
		</div>
	</div>
	<img class="img-fluid my-4" src="~/img/code.jpg" alt="code.jpg" style="max-height: 300px; object-fit: cover; width:100%;" />
	@for (int i = 0; i < 2; i++)
	{
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dictum urna, et tristique felis maximus ac. Mauris eu tortor odio. Nulla euismod quis mauris sit amet condimentum. Etiam pretium quis arcu ultrices facilisis. Aliquam tempus ornare magna. Etiam egestas, tellus nec consectetur auctor, mi risus euismod sapien, in tincidunt purus nunc at diam. Cras ante lectus, tristique vitae maximus eget, convallis vel felis. Suspendisse dictum libero nec velit convallis rhoncus. Proin eleifend nibh non laoreet bibendum.
		</p>
	}
</article>
